<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<nav layout:fragment="header" class="navbar navbar-dark bg-dark static-top">

	  <a class="navbar-brand mr-1" href="/">Start Bootstrap</a>

	  <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
	    <i class="fas fa-bars"></i>
	  </button>
	  <a th:href="@{/logout}" style="text-decoration:none;" aria-current="true">ログアウト</a>
	  <!-- Navbar Search -->
	  <!--
	  <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
	    <div class="input-group">
	      <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
	      <div class="input-group-append">
	        <button class="btn btn-primary" type="button">
	          <i class="fas fa-search"></i>
	        </button>
	      </div>
	    </div>
	  </form>
	  
	  
	  トグルバーを付けてログアウト以外に切り替えても可
	  -->

	  <!-- Navbar -->

	</nav>
</body>
</html>