<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8">
	<title>Articleの個別ページ</title>
</head>

<body>
	<div layout:fragment="content" style="
	    padding: 6vw 0 0 6vw;width: -webkit-fill-available;">
		<div style="
		    border: groove;">

			<div class="bd-example">
				<table class="table table-success table-striped" style="margin-bottom: 0;">
					<thead>
						<tr>
							<th style="width: 33.3%;" scope="col">#</th>
							<th style="width: 66.6%;" scope="col">value</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">id : </th>
							<td th:text="${article.id}">(id)</td>
						</tr>
						<tr>
							<th scope="row">タイトル : </th>
							<td th:text="${article.title}">(title)</td>
						</tr>
						<tr>
							<th scope="row">インプレッション: </th>
							<td th:text="${article.impressions}">(impressions)</td>
						</tr>
						<tr>
							<th scope="row">いいね: </th>
							<td th:text="${article.iine}">(iine)</td>
						</tr>
					</tbody>

				</table>
			</div>

		</div>
	</div>
</body>

</html>