<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8">
	<meta name="_csrf" content="${_csrf.token}"/>
	<title>Articleの個別ページ</title>
	<script>
		function confirmDeletion(articleId) {
			// 確認ポップアップの表示
			const userConfirmed = confirm("本当に削除しますか？");

			// ユーザーが "OK" を押した場合のみ削除を実行
			if (userConfirmed) {
				// 削除処理の実行
				deleteArticle(articleId);
			}
		}

		function deleteArticle(articleId) {
			// AJAXで削除リクエストを送信
			//リクエストヘッダにキーを付加する形式のところもあるから注意すること。
			//ajaxを使う場合はcsrf tokenの追加も変わるので気を付ける。
			//そういう場合の実装は恐らく別ファイル
			//apiリクエストのマッピングを別にするか(/api/delete/,等にわかりやすく分ける)は個々の場合で考える。
			const csrfToken = document.getElementById("js_csrf").value;
			$.ajax({
				url: `/articles/delete/`, // 削除APIのURL
				method: "POST", // メソッドをDELETEに変更する場合もあり
				data: {id: articleId}, // 送信するデータ
				headers: {
				           'X-CSRF-TOKEN': csrfToken  // CSRF トークンをヘッダーに追加
				       },
				success: function (response) {
					alert("削除が完了しました。");
					// location.reload(); // ページをリロードして更新 (削除したため存在しない。敢えて例外ハンドラでリダイレクトさせるかここからリダイレクトさせる
				    //かは場合によるかも)
					window.location.href =('/articles/');
				},
				error: function (xhr, status, error) {
					console.error("削除に失敗しました:", error);
					alert("削除中にエラーが発生しました。");
				},
			});
		}
	</script>
</head>

<body>
	<div layout:fragment="content" style="
	    padding: 6vw 0 0 6vw">
		<div style="
		    border: groove;">

			<div class="list-group">
				<div class="d-flex gap-2 w-100 justify-content-between">
					<div style="background: aquamarine;">
						<h6 class="mb-0 fs-3" style="font-family:system-ui, -apple-system;"
							th:text="'long id : ('+ ${article.id} + ')'">(id)</h6>
					</div>
					<div style="background: aqua">
						<h6 class="mb-0 fs-3" style="font-family:system-ui, -apple-system;"
							th:text="'String title : ('+ ${article.title} + ')'">(title)</h6>
					</div>
					<div style="background: beige;">
						<h6 class="mb-0 fs-3" style="font-family:system-ui, -apple-system;"
							th:text="'String impressions : ('+ ${article.impressions} + ')'">(impressions)</h6>
					</div>
					<div style="background: antiquewhite">
						<h6 class="mb-0 fs-3" style="font-family:system-ui, -apple-system;"
							th:text="'boolean iine : ('+ ${article.iine} + ')'">(iine)</h6>
					</div>
				</div>

			</div>
		</div>
		<form th:action="@{/articles/delete/}" method="POST" th:object="${article}" style="margin-top: 3.6vw;">
			<input id="js_csrf" th:name="${_csrf.parameterName}" type="hidden" th:value="${_csrf.token}"/>
			<input type="hidden" name="id" th:value="${article.id}">
			<button type="button" th:attr="onclick=|confirmDeletion('${article.id}')|">削除</button>
		</form>
	</div>
</body>

</html>