@charset "UTF-8";
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 20px 0;
}

.page-link {
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid #ddd;
    color: #333;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.page-link:hover {
    background-color: #007bff;
    color: white;
}

.active .page-link {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
    pointer-events: none; /* クリック無効 */
}
